.container3{
    margin-left: 450px;
}

.button {
    background-color: #000C66;
    border: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
  }

  h2{
    color: #000C66;
    text-align: center;
  }